<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilu.api.dao.system.mapper.SystemOrderAftersaleReasonMapper">

    <select id="selectWithReasonType" resultType="java.util.Map">
        SELECT
            b.id,
            a.reasonCode,
            b.languageCode,
            b.reasonName
        FROM
            tb_order_aftersale_reason a
                LEFT JOIN tb_order_aftersale_reason_alias b ON a.reasonCode = b.reasonCode
                AND b.languageCode =#{languageCode}
        WHERE
            1 = 1
          AND a.reasonType = #{reasonType}
        ORDER BY
            a.orderIdx
    </select>
</mapper>
