<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilu.api.dao.system.mapper.SystemOrderTrackingStatusMapper">

    <select id="selectTrackingWithStatus" resultType="java.util.Map">
        SELECT
            a.statusIcon,
            b.statusName,
            a.id
        FROM
            tb_order_tracking_status a
                LEFT JOIN tb_order_tracking_status_alias b ON a.statusCode = b.statusCode
        WHERE
            b.languageCode = #{languageCode}
          AND a.parentId = 0
          AND a.statusCode = #{statusCode}
        LIMIT 1
    </select>

    <select id="selectTrackingWithParentId" resultType="java.util.Map">
        SELECT
            a.statusIcon,
            b.statusName
        FROM
            tb_order_tracking_status a
                LEFT JOIN tb_order_tracking_status_alias b ON a.statusCode = b.statusCode
        WHERE
            b.languageCode = #{languageCode}
          AND a.parentId = #{parentId}
        ORDER BY
            a.id DESC
    </select>

    <select id="selectTrackingStatus" resultType="java.util.Map">
        SELECT
            a.statusIcon,
            b.statusName
        FROM
            tb_order_tracking_status a
                LEFT JOIN tb_order_tracking_status_alias b ON a.statusCode = b.statusCode
        WHERE
            a.statusCode = #{statusCode}
          AND b.languageCode = #{languageCode}
    </select>
</mapper>
