<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilu.api.dao.website.mapper.SiteOrderMapper">


    <select id="selectOrderInfoById" resultType="java.util.Map">
        SELECT
            orderNo,
            gmtCreate,
            DATE_FORMAT( gmtCreate, '%m-%d' ) DAY,
            DATE_FORMAT( gmtCreate, '%H:%i' ) HOUR,
            paymentType,
            payStatus
        FROM
            site_order
        WHERE
            id = #{orderId}
    </select>
</mapper>
